body {
  padding-top: 60px;
}
footer.footer {
  padding: 35px 0 36px;
}

#info-row-2 {
  margin-top: 25px;
}

.foam_pad_40 {
  padding-bottom: 40px;
}
.foam_pad_20 {
  padding-bottom: 20px;
}
span.foam_pad_20 {
  display: inline-block;
}
