body {
  padding-top: 60px;
}
.footer {
  padding: 35px 0 36px;
}

#info-row-2 {
  margin-top: 25px;
}

.foamicator-tutorial-li {
  padding-bottom: 40px;
}
.foamicator-tutorial-img {
  margin-top: 20px;
}
